* {
  background-color: #08c6a2;
}
.hard {
  background-color: #08c6a2;
  height: 770px;
  width: 100%;
}
.book {
  margin-right: 10px;
  display: flex;
  font-size: 80px;
  margin-top: 5px;
  margin-left: 10px;
}
.font {
  font-size: 20px;
  margin-left: 5px;
  color: #272727;
}
.full {
  display: flex;
  margin-left: 30px;
}
.full i {
  font-size: 115px;
}
.next {
  text-align: center;
  font-size: 90px;
  padding-left: 860px;
  margin-top: -510px;
}
.now {
  text-align: center;
  font-size: 70px;
  padding-left: 800px;
  margin-top: 15px;
}
@media (max-width: 600px) {
  body {
    height: 300px;
  }
  .hard {
    height: 500px;
  }
  .full img {
    margin-left: -29px;
    height: 200px;
    width: 200px;
  }
  .full i {
    font-size: 30px;
  }
  .next {
    font-size: 25px;
    margin-top: -163px;
    margin-left: -652px;
  }
  .now {
    font-size: 20px;
    margin-top: 2px;
    margin-left: -607px;
  }
}
