body {
  margin: 0;
}
.starting {
  background-image: url(https://b.zmtcdn.com/web_assets/81f3ff974d82520780078ba1cfbd453a1583259680.png);
  height: 600px;
  background-size: cover;
}
.navigation {
  display: flex;
  justify-content: space-between;
  padding: 50px 90px;
}
.navigation a {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  padding: 20px;
}
.title {
  text-align: center;
  padding-top: 80px;
}
.title img {
  width: 300px;
}
.tagline {
  color: #ffffff;
  text-decoration: none;
  font-size: 30px;
  text-align: center;
  padding-top: 20px;
}
.box {
  padding-top: 20px;
  text-align: center;
}
.boxs {
  padding-top: 20px;
  text-align: center;
}
.boxs input {
  height: 41px;
  width: 400px;
  border: none;
}
.box input {
  height: 41px;
  width: 200px;
  border: none;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
.search {
  display: flex;
  margin-left: 470px;
  border-bottom-left-radius: 10px;
}
.searchbox {
  padding-top: 20px;
}
.searchbox button {
  height: 43px;
  color: #ffffff;
  width: 40px;
  border-top-right-radius: 7px;
  background-color: red;
  border-bottom-right-radius: 7px;
  border: 1px solid red;
}
/* section2 */
.section2 {
  width: 1200px;
  margin-left: 189px;
  margin-top: 50px;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 43px;
}
.photos {
  border: 1px solid gray;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 280px;
  height: 250px;
}
.photos img {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.photos p {
  text-align: center;
  font-size: 30px;
  color: black;
  opacity: 0.9;
  margin: 0;
  margin-top: 9px;
}
.heading {
  font-size: 36px;
  color: black;
  padding-top: 75px;
  padding-left: 35px;
}
.collection {
  display: flex;
  justify-content: space-between;
}
.collection p {
  font-size: 20px;
  padding-left: 35px;
}
.collection span {
  color: red;
  font-size: 20px;
  padding-top: 15px;
}
.gallary2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0px 40px 0px 40px;
}
.images {
  background-image: url("https://b.zmtcdn.com/data/collections/210fa901df15aa4024658f99f0573fbc_1581661396.jpg?output-format=webp");
  height: auto;
  width: 250px;
  color: #ffffff;
  border-radius: 10px;
  padding-bottom: 20px;
  padding-left: 15px;
}
.first {
  color: #ffffff;
  padding-top: 240px;
  font-size: 20px;
  padding-bottom: 10px;
}
.images span {
  font-size: 15px;
}
.thirdpart h1 {
  font-size: 35px;
  padding-left: 350px;
  padding-top: 60px;
  color: #363636;
  font-weight: 150;
}
.flex-more {
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
  justify-content: space-between;
  margin: 0px 0px 0px 270px;
  padding-top: 10px;
}
.flex-box {
  border: 1px solid #e8e8e8;
  margin-top: 30px;
  width: 320px;
  height: 40px;
  text-align: center;
  padding-top: 10px;
  font-size: 20px;
  color: #1c1c1c;
}
.flex-box span {
  font-size: 15px;
  padding-left: 20px;
}
.last {
  height: 100px;
  width: 100px;
  padding-top: 80px;
  margin: 0px 0px 0px 450px;
}
.text {
  font-size: 60px;
  font-weight: 20px;
  margin: 0px 0px 0px 700px;
  opacity: 0.9;
}
.text p {
  padding-top: 5px;
  font-size: 20px;
}
.radiocheck {
  display: flex;
  justify-content: center;
  padding-right: 55px;
}
.check {
  display: flex;
  padding-left: 50px;
  font-size: 20px;
  padding-top: 5px;
}
.inputcheck {
  margin-top: 20px;
  margin-left: 700px;
}
.inputcheck input {
  width: 250px;
  height: 40px;
  font-size: 19px;
  padding-right: 8px;
  border-radius: 5px;
  border: 1px solid grey;
}
.link {
  display: flex;
  margin-bottom: 5px;
}
.share-link {
  height: 10px;
  background-color: #ed5a6b;
  padding: 12px 10px 20px 10px;
  border-radius: 5px;
  margin-left: 5px;
  top: 100px;
  margin-top: 20px;
}
.share-link:hover {
  background-color: #ec4654;
}
.share-link a {
  text-decoration: none;
  color: #ffffff;
}
@media (max-width: 900px) {
  .title img {
    width: 210px;
  }
  .tagline {
    font-size: 20px;
  }
}
